extends layout

block content
  h1= title
  p Welcome to #{title}
  ul#books
    li
      #[a(href="/plans/all") [GET] List all plans]
    li
      #[a(href="/plans/ult_small") [GET] Return plan by id]
